<h2>{{_localizer.localize("Book")}}</h2>
<button class="btn btn-default" [routerLink]="['/admin/book']">{{_localizer.localize("BackToList")}}</button>

<div class="create-new">
    <div *ngIf="id && itemEdit; then edit"></div>
    <div *ngIf="!id && itemCreate; then create"></div>
</div>

<ng-template #edit>
    <tr>
        <td colspan="7">
            <div class="edit-div">
                <form #editForm="ngForm">
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Book.Title")}} *</label>
                        <input class="form-control" name="title" [(ngModel)]="itemEdit.title" #title="ngModel" type="text" required />
                        <div *ngIf="title.invalid">
                            <p *ngIf="title.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.Title"))}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Book.Author")}} *</label>
                        <input class="form-control" name="author" [(ngModel)]="itemEdit.author" #author="ngModel" type="text" required pattern="^[a-zA-Z\s]*$" />
                        <div *ngIf="author.invalid">
                            <p *ngIf="author.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.Author"))}}
                            </p>
                            <p *ngIf="author.errors.pattern" class="validation-text">
                                {{_localizer.localize("OnlyLettersAllowed")}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Book.Genre")}}</label>
                        <select class="form-control" name="genre" [(ngModel)]="itemEdit.genre" #genre="ngModel">
                            <ng-template ngFor let-i [ngForOf]="itemEdit.genreList" let-n="index">
                                <option [ngValue]="i.value" [disabled]="i.disabled">{{i.text}}</option>
                            </ng-template>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Book.PageCount")}} *</label>
                        <input class="form-control" name="pageCount" [(ngModel)]="itemEdit.pageCount" #pageCount="ngModel" type="text" required />
                        <div *ngIf="pageCount.invalid">
                            <p *ngIf="pageCount.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.PageCount"))}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default" (click)="saveEditModel()" [disabled]="editForm.invalid">{{_localizer.localize("Save")}}</button>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Book.Title")}} *</label>
                <input class="form-control" name="title" [(ngModel)]="itemCreate.title" #title="ngModel" type="text" required />
                <div *ngIf="title.touched && title.invalid">
                    <p *ngIf="title.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.Title"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Book.Author")}} *</label>
                <input class="form-control" name="author" [(ngModel)]="itemCreate.author" #author="ngModel" type="text" required pattern="^[a-zA-Z\s]*$" />
                <div *ngIf="author.touched && author.invalid">
                    <p *ngIf="author.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.Author"))}}
                    </p>
                    <p *ngIf="author.errors.pattern" class="validation-text">
                        {{_localizer.localize("OnlyLettersAllowed")}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Book.Genre")}}</label>
                <select class="form-control" name="genre" [(ngModel)]="itemCreate.genre" #genre="ngModel">
                    <ng-template ngFor let-i [ngForOf]="itemCreate.genreList" let-n="index">
                        <option [ngValue]="i.value" [disabled]="i.disabled">{{i.text}}</option>
                    </ng-template>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Book.PageCount")}} *</label>
                <input class="form-control" name="pageCount" [(ngModel)]="itemCreate.pageCount" #pageCount="ngModel" type="number" required />
                <div *ngIf="pageCount.touched && pageCount.invalid">
                    <p *ngIf="pageCount.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.PageCount"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="saveCreateModel()" [disabled]="createForm.invalid">{{_localizer.localize("Save")}}</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>
