<h2>{{_localizer.localize("Users")}}</h2>
<div class="message">
    <p>&nbsp; {{_message}}</p>
</div>
<div class="grid">
    <div class="pagination">
        <button class="btn btn-default" (click)="prevPageAsync()">{{_localizer.localize("PrevPage")}}</button>
        <span>{{_localizer.localizeWithValues("PageXofY", _currentPage, _totalPages)}}</span>
        <button class="btn btn-default" (click)="nextPageAsync()">{{_localizer.localize("NextPage")}}</button>
        <button class="btn btn-default" (click)="getExcelExportAsync()">{{_localizer.localize("ExcelExport")}}</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{_localizer.localize("Id")}}</th>
                <th>{{_localizer.localize("LoginLabel")}}</th>
                <th>{{_localizer.localize("Role")}}</th>
                <th>{{_localizer.localize("Phone")}}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-i [ngForOf]="_items" let-n="index">
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.userName}}
                    </td>
                    <td>
                        {{i.role}}
                    </td>
                    <td>
                        {{i.phone}}
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="toggleEditAsync(i.id)">{{_localizer.localize("Edit")}}</button>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="togglePasswordReset(i.id)">{{_localizer.localize("SetNewPassButton")}}</button>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="deleteAsync(i.id)">{{_localizer.localize("Delete")}}</button>
                    </td>
                </tr>
                <tr *ngIf="_showEditId==i.id; then edit"></tr>
                <tr *ngIf="_resetPasswordId==i.id; then passwordReset"></tr>
            </ng-template>
        </tbody>
    </table>
</div>
<div class="create-new">
    <button class="btn btn-default" (click)="toggleCreateAsync()">{{_localizer.localize("Create")}}</button>
    <div *ngIf="_isShowCreate; then create"></div>
</div>

<ng-template #passwordReset>
    <tr>
        <td colspan="5">
            <div class="edit-div">
                <div class="form-group col-sm-3">
                    <label>{{_localizer.localize("NewPasswordLabel")}} *</label>
                    <input class="form-control" name="newPassword" #newPassword type="password" required />
                    <div *ngIf="newPassword.invalid">
                        <p *ngIf="newPassword.errors.required" class="validation-text">
                            {{_localizer.localizeWithValues("RequiredX",_localizer.localize("NewPasswordLabel"))}}
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-10">
                    <button class="btn btn-default" (click)="resetPasswordAsync(newPassword.value)" [disabled]="editForm.invalid">{{_localizer.localize("Save")}}</button>
                </div>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #edit>
    <tr class="edit-row">
        <td colspan="7">
            <div class="edit-div">
                <form #editForm="ngForm">
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("LoginLabel")}} *</label>
                        <input class="form-control" name="userName" [(ngModel)]="_itemEdit.userName" #userName="ngModel" type="text" required />
                        <div *ngIf="userName.invalid">
                            <p *ngIf="userName.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX",_localizer.localize("LoginLabel"))}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Phone")}}</label>
                        <input class="form-control" name="phone" [(ngModel)]="_itemEdit.phone" #phone="ngModel" type="text" pattern="^[0-9\s]*$" />
                        <div *ngIf="phone.invalid">
                            <p *ngIf="phone.errors.pattern" class="validation-text">
                                {{_localizer.localize("OnlyDigitsAllowed")}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Role")}}</label>
                        <select class="form-control" name="role" [(ngModel)]="_itemEdit.role" #role="ngModel">
                            <ng-template ngFor let-i [ngForOf]="_itemEdit.roleList" let-n="index">
                                <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                            </ng-template>
                        </select>
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default" (click)="saveEditModelAsync()" [disabled]="editForm.invalid">{{_localizer.localize("Save")}}</button>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("LoginLabel")}} *</label>
                <input class="form-control" name="userName" [(ngModel)]="_itemCreate.userName" #userName="ngModel" type="text" required />
                <div *ngIf="userName.touched && userName.invalid">
                    <p *ngIf="userName.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("LoginLabel"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("PasswordLabel")}}*</label>
                <input class="form-control" name="password" [(ngModel)]="_itemCreate.password" #password="ngModel" type="password" required />
                <div *ngIf="password.touched && password.invalid">
                    <p *ngIf="password.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("PasswordLabel"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Phone")}}</label>
                <input class="form-control" name="phone" [(ngModel)]="_itemCreate.phone" #phone="ngModel" type="text" pattern="^[0-9\s]*$" />
                <div *ngIf="phone.touched && phone.invalid">
                    <p *ngIf="phone.errors.pattern" class="validation-text">
                        {{_localizer.localize("OnlyDigitsAllowed")}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Role")}}</label>
                <select class="form-control" name="role" [(ngModel)]="_itemCreate.role" #role="ngModel">
                    <ng-template ngFor let-i [ngForOf]="_itemCreate.roleList" let-n="index">
                        <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                    </ng-template>
                </select>
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="saveCreateModelAsync()" [disabled]="createForm.invalid">{{_localizer.localize("Save")}}</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>