<h2>Users</h2>
<div *ngIf="_message" class="message">
    <p>{{_message}}</p>
</div>
<div class="grid">
    <div class="pagination">
        <button class="btn btn-default" (click)="prevPageAsync()">Previous</button>
        <span>Page {{_currentPage}} of {{_totalPages}}</span>
        <button class="btn btn-default" (click)="nextPageAsync()">Next</button>
        <button class="btn btn-default" (click)="getExcelExportAsync()">Export all pages to excel</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User name</th>
                <th>Role</th>
                <th>Phone</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-i [ngForOf]="_items" let-n="index">
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.userName}}
                    </td>
                    <td>
                        {{i.role}}
                    </td>
                    <td>
                        {{i.phone}}
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="toggleEditAsync(i.id)">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="togglePasswordReset(i.id)">Set new password</button>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="deleteAsync(i.id)">Delete</button>
                    </td>
                </tr>
                <tr *ngIf="_showEditId==i.id; then edit"></tr>
                <tr *ngIf="_resetPasswordId==i.id; then passwordReset"></tr>
            </ng-template>
        </tbody>
    </table>
</div>
<div class="create-new">
    <button class="btn btn-default" (click)="toggleCreateAsync()">Create new</button>
    <div *ngIf="_isShowCreate; then create"></div>
</div>

<ng-template #passwordReset>
    <tr>
        <td colspan="5">
            <div class="edit-div">
                <div class="form-group col-sm-3">
                    <label>New password *</label>
                    <input class="form-control" name="newPassword" #newPassword type="password" required />
                    <div *ngIf="newPassword.invalid">
                        <p *ngIf="newPassword.errors.required" class="validation-text">
                            New password required
                        </p>
                    </div>
                </div>
                <div class="form-group col-sm-10">
                    <button class="btn btn-default" (click)="resetPasswordAsync(newPassword.value)" [disabled]="editForm.invalid">Submit</button>
                </div>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #edit>
    <tr class="edit-row">
        <td colspan="7">
            <div class="edit-div">
                <form #editForm="ngForm">
                    <div class="form-group col-sm-3">
                        <label>Login *</label>
                        <input class="form-control" name="userName" [(ngModel)]="_itemEdit.userName" #userName="ngModel" type="text" required />
                        <div *ngIf="userName.invalid">
                            <p *ngIf="userName.errors.required" class="validation-text">
                                Login required
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Phone</label>
                        <input class="form-control" name="phone" [(ngModel)]="_itemEdit.phone" #phone="ngModel" type="text" pattern="^[0-9\s]*$" />
                        <div *ngIf="phone.invalid">
                            <p *ngIf="phone.errors.pattern" class="validation-text">
                                Only digits allowed
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Role</label>
                        <select class="form-control" name="role" [(ngModel)]="_itemEdit.role" #role="ngModel">
                            <ng-template ngFor let-i [ngForOf]="_itemEdit.roleList" let-n="index">
                                <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                            </ng-template>
                        </select>
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default" (click)="saveEditModelAsync()" [disabled]="editForm.invalid">Submit</button>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>Login *</label>
                <input class="form-control" name="userName" [(ngModel)]="_itemCreate.userName" #userName="ngModel" type="text" required />
                <div *ngIf="userName.touched && userName.invalid">
                    <p *ngIf="userName.errors.required" class="validation-text">
                        Login required
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>Password *</label>
                <input class="form-control" name="password" [(ngModel)]="_itemCreate.password" #password="ngModel" type="password" required />
                <div *ngIf="password.touched && password.invalid">
                    <p *ngIf="password.errors.required" class="validation-text">
                        Password required
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>Phone</label>
                <input class="form-control" name="phone" [(ngModel)]="_itemCreate.phone" #phone="ngModel" type="text" pattern="^[0-9\s]*$" />
                <div *ngIf="phone.touched && phone.invalid">
                    <p *ngIf="phone.errors.pattern" class="validation-text">
                        Only digits allowed
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>Role</label>
                <select class="form-control" name="role" [(ngModel)]="_itemCreate.role" #role="ngModel">
                    <ng-template ngFor let-i [ngForOf]="_itemCreate.roleList" let-n="index">
                        <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                    </ng-template>
                </select>
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="saveCreateModelAsync()" [disabled]="createForm.invalid">Submit</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>