.pagination span {
    padding:10px;
}
.error {
    color:red;
}
.create-new > div {
    border: 1px solid grey;
    padding: 10px;
}
.validation-text {
    color: red;
}
.edit-div {
    border: 1px solid grey;
    padding: 10px;
}
.filter {
    border: 1px solid grey;
    padding: 10px;
}
.grid {
    padding:10px;
}
.create-new {
    padding:10px;
}