<h2>{{_localizer.localize("Anime")}}</h2>
<button class="btn btn-default" [routerLink]="['/admin/anime']">{{_localizer.localize("BackToList")}}</button>

<div class="create-new">
    <div *ngIf="id && itemEdit; then edit"></div>
    <div *ngIf="!id && itemCreate; then create"></div>
    <div *ngIf="id" style="margin-top:30px;">
        <anime-episodes [parentId]="id"></anime-episodes>
    </div>
</div>

<ng-template #edit>
    <div>
        <form #editForm="ngForm">
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.Title")}} *</label>
                <input class="form-control" name="title" [(ngModel)]="itemEdit.title" #title="ngModel" type="text" required />
                <div *ngIf="title.invalid">
                    <p *ngIf="title.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX", _localizer.localize("Anime.Title"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.SeasonCount")}} *</label>
                <input class="form-control" name="seasonCount" [(ngModel)]="itemEdit.seasonCount" #seasonCount="ngModel" type="number" required />
                <div *ngIf="seasonCount.invalid">
                    <p *ngIf="seasonCount.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX", _localizer.localize("Anime.SeasonCount"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.Image")}}</label>
                <input type="file" (change)="uploadImageEdit($event.target.files[0])" />
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="saveEditModel()" [disabled]="editForm.invalid">{{_localizer.localize("Save")}}</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.Title")}} *</label>
                <input class="form-control" name="title" [(ngModel)]="itemCreate.title" #title="ngModel" type="text" required />
                <div *ngIf="title.touched && title.invalid">
                    <p *ngIf="title.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX", _localizer.localize("Anime.Title"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.SeasonCount")}} *</label>
                <input class="form-control" name="seasonCount" [(ngModel)]="itemCreate.seasonCount" #seasonCount="ngModel" type="number" required />
                <div *ngIf="seasonCount.touched && seasonCount.invalid">
                    <p *ngIf="seasonCount.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX", _localizer.localize("Anime.SeasonCount"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.Image")}}</label>
                <input type="file" (change)="uploadImageCreate($event.target.files[0])" />
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="saveCreateModel()" [disabled]="createForm.invalid">{{_localizer.localize("Save")}}</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>