<h2>{{_localizer.localize("Animes")}}</h2>
<div class="message">
    <p>&nbsp; {{_message}}</p>
</div>
<div class="sorting">
    <label>{{_localizer.localize("OrderBy")}}</label>
    <select class="form-control" [(ngModel)]="_orderBy" (change)="reloadGridAsync()">
        <option value="">{{_localizer.localize("Default")}}</option>
        <option value="Id_desc">{{_localizer.localizeWithValues("OrderBy.DescendingX", _localizer.localize("Id"))}}</option>
        <option value="Id">{{_localizer.localizeWithValues("OrderBy.AscendingX", _localizer.localize("Id"))}}</option>
        <option value="Title">{{_localizer.localizeWithValues("OrderBy.AscendingX", _localizer.localize("Anime.Title"))}}</option>
        <option value="Title_desc">{{_localizer.localizeWithValues("OrderBy.DescendingX", _localizer.localize("Anime.Title"))}}</option>
    </select>
    <div style="clear:both"></div>
</div>

<div class="grid">
    <div class="pagination">
        <button class="btn btn-default" (click)="prevPageAsync()">{{_localizer.localize("PrevPage")}}</button>
        <span>{{_localizer.localizeWithValues("PageXofY", _currentPage, _totalPages)}}</span>
        <button class="btn btn-default" (click)="nextPageAsync()">{{_localizer.localize("NextPage")}}</button>
        <button class="btn btn-default" (click)="getExcelExportAsync()">{{_localizer.localize("ExcelExport")}}</button>
        <button class="btn btn-default" (click)="deleteCheckedAsync()">{{_localizer.localize("DeleteSelected")}}</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <button class="btn btn-default" (click)="toggleCheckAll()">{{_localizer.localize("CheckAllButton")}}</button>
                </th>
                <th>{{_localizer.localize("Id")}}</th>
                <th>{{_localizer.localize("Anime.Title")}}</th>
                <th>{{_localizer.localize("Anime.Image")}}</th>
                <th>{{_localizer.localize("Anime.SeasonCount")}}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-i [ngForOf]="_items" let-n="index">
                <tr>
                    <th>
                        <input type="checkbox" [checked]="_checkedItems.indexOf(i.id) >= 0" (change)="toggleChecked(i.id)"/>
                    </th>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.title}}
                    </td>
                    <td>
                        <img *ngIf="i.imageId" [src]="i.imageUrl" style="width:100px" />
                    </td>
                    <td>
                        {{i.seasonCount}}
                    </td>
                    <td>
                        <a href="/admin/AnimeEpisodes/{{i.id}}">{{_localizer.localize("Anime.ViewEpisodesButton")}}</a>
                    </td>
                    <td>
                        <button class="btn btn-default" [routerLink]="['/admin/anime/edit', i.id]">{{_localizer.localize("Edit")}}</button>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="deleteAsync(i.id)">{{_localizer.localize("Delete")}}</button>
                    </td>
                </tr>
                <tr *ngIf="_showEditId==i.id; then edit"></tr>
            </ng-template>
        </tbody>
    </table>
</div>
<div class="create-new">
    <button class="btn btn-default" [routerLink]="['/admin/anime/create']">{{_localizer.localize("Create")}}</button>
    <div *ngIf="_isShowCreate; then create"></div>
</div>

<ng-template #edit>
    <tr class="edit-row">
        <td colspan="5">
            <div class="edit-div">
                <form #editForm="ngForm">
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Anime.Title")}} *</label>
                        <input class="form-control" name="title" [(ngModel)]="_itemEdit.title" #title="ngModel" type="text" required />
                        <div *ngIf="title.invalid">
                            <p *ngIf="title.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX", _localizer.localize("Anime.Title"))}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Anime.SeasonCount")}} *</label>
                        <input class="form-control" name="seasonCount" [(ngModel)]="_itemEdit.seasonCount" #seasonCount="ngModel" type="number" required />
                        <div *ngIf="seasonCount.invalid">
                            <p *ngIf="seasonCount.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX", _localizer.localize("Anime.SeasonCount"))}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Anime.Image")}}</label>
                        <input type="file" (change)="uploadImageEditAsync($event.target.files[0])" />
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default" (click)="saveEditModelAsync()" [disabled]="editForm.invalid">{{_localizer.localize("Save")}}</button>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.Title")}} *</label>
                <input class="form-control" name="title" [(ngModel)]="_itemCreate.title" #title="ngModel" type="text" required />
                <div *ngIf="title.touched && title.invalid">
                    <p *ngIf="title.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX", _localizer.localize("Anime.Title"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.SeasonCount")}} *</label>
                <input class="form-control" name="seasonCount" [(ngModel)]="_itemCreate.seasonCount" #seasonCount="ngModel" type="number" required />
                <div *ngIf="seasonCount.touched && seasonCount.invalid">
                    <p *ngIf="seasonCount.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX", _localizer.localize("Anime.SeasonCount"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Anime.Image")}}</label>
                <input type="file" (change)="uploadImageCreateAsync($event.target.files[0])" />
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="saveCreateModelAsync()" [disabled]="createForm.invalid">{{_localizer.localize("Save")}}</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>