<h2>{{_localizer.localize("AnimeEpisodes")}}</h2>
<div class="create-new">
    <button class="btn btn-default" (click)="toggleCreate()">{{_localizer.localize("Create")}}</button>
    <div *ngIf="isShowCreate && itemCreate; then create"></div>
</div>
<div class="grid" *ngIf="!items?.length">{{_localizer.localize("NoData")}}</div>
<div class="grid" *ngIf="items?.length">
    <table class="table">
        <thead>
            <tr>
                <th>{{_localizer.localize("Id")}}</th>
                <th>{{_localizer.localize("AnimeEpisode.Title")}}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-i [ngForOf]="items" let-n="index">
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.title}}
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="toggleEdit(i.id)" *ngIf="showEditId != i.id">{{_localizer.localize("Edit")}}</button>
                        <button class="btn btn-default" (click)="toggleEdit(i.id)" *ngIf="showEditId == i.id">{{_localizer.localize("Cancel")}}</button>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="delete(i.id)">{{_localizer.localize("Delete")}}</button>
                    </td>
                </tr>
                <tr *ngIf="showEditId==i.id; then edit"></tr>
            </ng-template>
        </tbody>
    </table>
    <div class="pagination">
        <button class="btn btn-default" (click)="prevPage()">{{_localizer.localize("PrevPage")}}</button>
        <span>{{_localizer.localize("Page")}} <input name="currentPage" [(ngModel)]="currentPage" type="number" required (change)="reloadGrid()" style="width:100px;" /> {{_localizer.localize("PageOf")}} {{totalPages}}</span>
        <button class="btn btn-default" (click)="nextPage()">{{_localizer.localize("NextPage")}}</button>
        <button class="btn btn-default" (click)="getExcelExport()">{{_localizer.localize("ExcelExport")}}</button>
    </div>
</div>

<ng-template #edit>
    <tr class="edit-row">
        <td colspan="5">
            <div class="edit-div">
                <form #editForm="ngForm">
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("AnimeEpisode.Title")}} *</label>
                        <input class="form-control" name="title" [(ngModel)]="itemEdit.title" #title="ngModel" type="text" required />
                        <div *ngIf="title.invalid">
                            <p *ngIf="title.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX",_localizer.localize("AnimeEpisode.Title"))}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default" (click)="saveEditModel()" [disabled]="editForm.invalid">{{_localizer.localize("Save")}}</button>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("AnimeEpisode.Title")}} *</label>
                <input class="form-control" name="title" [(ngModel)]="itemCreate.title" #title="ngModel" type="text" required />
                <div *ngIf="title.touched && title.invalid">
                    <p *ngIf="title.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("AnimeEpisode.Title"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="saveCreateModel()" [disabled]="createForm.invalid">{{_localizer.localize("Save")}}</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>