<div>
    <h2>Grid</h2>
    <table>
        <tr>
            <td>
                Id
            </td>
            <td>
                Title
            </td>
            <td>
                Season count
            </td>
            <td></td>
        </tr>
        <tr *ngFor="let i of items;">
            <td>
                {{i.id}}
            </td>
            <td>
                {{i.title}}
            </td>
            <td>
                {{i.seasonCount}}
            </td>
            <td>
                <button class="btn btn-default" (click)="delete(i.id)">Удалить</button>
            </td>
        </tr>
    </table>
</div>

<div>
    <h2>Pagination</h2>
    <button (click)="prevPage()">Previous</button>
    <label> Page {{currentPage}} of {{pageCount}} </label>
    <button (click)="nextPage()">Next</button>
</div>
<div>
    <h2>Create new</h2>
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" [(ngModel)]="itemCreate.title" />
    </div>
    <div class="form-group">
        <label>Season count</label>
        <input class="form-control" [(ngModel)]="itemCreate.seasonCount" />
    </div>
    <div class="form-group">
        <button class="btn btn-default" (click)="postCreate()">Отправить</button>
    </div>
</div>