<h2>{{_localizer.localize("Books")}}</h2>
<div class="message">
    <p>&nbsp; {{_message}}</p>
</div>
<div class="filter">
    <h3>{{_localizer.localize("Filter")}}</h3>
    <form #filterForm="ngForm">
        <div class="form-group col-sm-3">
            <label>{{_localizer.localize("Book.Title")}}</label>
            <input class="form-control" name="title" [(ngModel)]="_filter.title" #title="ngModel" type="text" />
        </div>
        <div class="form-group col-sm-3">
            <label>{{_localizer.localize("Book.Author")}}</label>
            <input class="form-control" name="author" [(ngModel)]="_filter.author" #author="ngModel" type="text" pattern="^[a-zA-Z\s]*$" />
            <div *ngIf="author.touched && author.invalid">
                <p *ngIf="author.errors.pattern" class="validation-text">
                    {{_localizer.localize("OnlyLettersAllowed")}}
                </p>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label>{{_localizer.localize("Book.Genre")}}</label>
            <select class="form-control" name="genre" [(ngModel)]="_filter.genre" #genre="ngModel">
                <ng-template ngFor let-i [ngForOf]="_filter.genreList" let-n="index">
                    <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                </ng-template>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label>{{_localizer.localize("Book.PageCount")}}</label>
            <input class="form-control" name="pageCount" [(ngModel)]="_filter.pageCount" #pageCount="ngModel" type="number" />
        </div>
        <div class="form-group col-sm-5">
            <button class="btn btn-default" (click)="reloadGridAsync()" [disabled]="filterForm.invalid">{{_localizer.localize("Apply")}}</button>
        </div>
        <div class="form-group col-sm-5">
            <button class="btn btn-default" (click)="clearFilterAsync()" [disabled]="filterForm.invalid">{{_localizer.localize("ClearFilter")}}</button>
        </div>
    </form>
    <div style="clear:both"></div>
</div>
<div class="grid">
    <div class="pagination">
        <button class="btn btn-default" (click)="prevPageAsync()">{{_localizer.localize("PrevPage")}}</button>
        <span>{{_localizer.localizeWithValues("PageXofY", _currentPage, _totalPages)}}</span>
        <button class="btn btn-default" (click)="nextPageAsync()">{{_localizer.localize("NextPage")}}</button>
        <button class="btn btn-default" (click)="getExcelExportAsync()">{{_localizer.localize("ExcelExport")}}</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{_localizer.localize("Id")}}</th>
                <th>{{_localizer.localize("Book.Title")}}</th>
                <th>{{_localizer.localize("Book.Author")}}</th>
                <th>{{_localizer.localize("Book.Genre")}}</th>
                <th>{{_localizer.localize("Book.PageCount")}}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-i [ngForOf]="_items" let-n="index">
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.title}}
                    </td>
                    <td>
                        {{i.author}}
                    </td>
                    <td>
                        {{i.genreName}}
                    </td>
                    <td>
                        {{i.pageCount}}
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="toggleEditAsync(i.id)">{{_localizer.localize("Edit")}}</button>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="deleteAsync(i.id)">{{_localizer.localize("Delete")}}</button>
                    </td>
                </tr>
                <tr *ngIf="_showEditId==i.id; then edit"></tr>
            </ng-template>
        </tbody>
    </table>
</div>

<div class="create-new">
    <button class="btn btn-default" (click)="toggleCreateAsync()">{{_localizer.localize("Create")}}</button>
    <button class="btn btn-default" (click)="toggleImport()">{{_localizer.localize("ImportButton")}}</button>
    <div *ngIf="_isShowCreate; then create"></div>
    <div *ngIf="_isShowImport; then import"></div>
</div>

<ng-template #import>
    <div>
        <div class="form-group col-sm-2">
            <input type="file" (change)="setImportFile($event.target.files[0])" />
        </div>
        <div class="form-group col-sm-1">
            <a (click)="getImportTemplateAsync()">{{_localizer.localize("ImportTemplate")}}</a>
        </div>
        <div style="clear:both"></div>
        <div class="form-group col-sm-10">
            <button class="btn btn-default" (click)="importAsync()">{{_localizer.localize("ImportSubmit")}}</button>
        </div>
        <div class="form-group col-sm-10">
            {{_importResult}}
        </div>
        <div style="clear:both"></div>
    </div>
</ng-template>

<ng-template #edit>
    <tr class="edit-row">
        <td colspan="7">
            <div class="edit-div">
                <form #editForm="ngForm">
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Book.Title")}} *</label>
                        <input class="form-control" name="title" [(ngModel)]="_itemEdit.title" #title="ngModel" type="text" required />
                        <div *ngIf="title.invalid">
                            <p *ngIf="title.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.Title"))}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Book.Author")}} *</label>
                        <input class="form-control" name="author" [(ngModel)]="_itemEdit.author" #author="ngModel" type="text" required pattern="^[a-zA-Z\s]*$" />
                        <div *ngIf="author.invalid">
                            <p *ngIf="author.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.Author"))}}
                            </p>
                            <p *ngIf="author.errors.pattern" class="validation-text">
                                {{_localizer.localize("OnlyLettersAllowed")}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Book.Genre")}}</label>
                        <select class="form-control" name="genre" [(ngModel)]="_itemEdit.genre" #genre="ngModel">
                            <ng-template ngFor let-i [ngForOf]="_itemEdit.genreList" let-n="index">
                                <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                            </ng-template>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>{{_localizer.localize("Book.PageCount")}} *</label>
                        <input class="form-control" name="pageCount" [(ngModel)]="_itemEdit.pageCount" #pageCount="ngModel" type="text" required />
                        <div *ngIf="pageCount.invalid">
                            <p *ngIf="pageCount.errors.required" class="validation-text">
                                {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.PageCount"))}}
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default" (click)="saveEditModelAsync()" [disabled]="editForm.invalid">{{_localizer.localize("Save")}}</button>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Book.Title")}} *</label>
                <input class="form-control" name="title" [(ngModel)]="_itemCreate.title" #title="ngModel" type="text" required />
                <div *ngIf="title.touched && title.invalid">
                    <p *ngIf="title.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.Title"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Book.Author")}} *</label>
                <input class="form-control" name="author" [(ngModel)]="_itemCreate.author" #author="ngModel" type="text" required pattern="^[a-zA-Z\s]*$" />
                <div *ngIf="author.touched && author.invalid">
                    <p *ngIf="author.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.Author"))}}
                    </p>
                    <p *ngIf="author.errors.pattern" class="validation-text">
                        {{_localizer.localize("OnlyLettersAllowed")}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Book.Genre")}}</label>
                <select class="form-control" name="genre" [(ngModel)]="_itemCreate.genre" #genre="ngModel">
                    <ng-template ngFor let-i [ngForOf]="_itemCreate.genreList" let-n="index">
                        <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                    </ng-template>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label>{{_localizer.localize("Book.PageCount")}} *</label>
                <input class="form-control" name="pageCount" [(ngModel)]="_itemCreate.pageCount" #pageCount="ngModel" type="number" required />
                <div *ngIf="pageCount.touched && pageCount.invalid">
                    <p *ngIf="pageCount.errors.required" class="validation-text">
                        {{_localizer.localizeWithValues("RequiredX",_localizer.localize("Book.PageCount"))}}
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="saveCreateModelAsync()" [disabled]="createForm.invalid">{{_localizer.localize("Save")}}</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>
