<h2>Book</h2>
<button class="btn btn-default" [routerLink]="['/admin/book']">Back to list</button>
<div *ngIf="_message" class="message">
    <p>{{_message}}</p>
</div>

<div class="create-new">
    <div *ngIf="_id; then edit"></div>
    <div *ngIf="!_id; then create"></div>
</div>

<ng-template #edit>
    <tr>
        <td colspan="7">
            <div class="edit-div">
                <form #editForm="ngForm">
                    <div class="form-group col-sm-3">
                        <label>Title *</label>
                        <input class="form-control" name="title" [(ngModel)]="_itemEdit.title" #title="ngModel" type="text" required />
                        <div *ngIf="title.invalid">
                            <p *ngIf="title.errors.required" class="validation-text">
                                Title required
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Author *</label>
                        <input class="form-control" name="author" [(ngModel)]="_itemEdit.author" #author="ngModel" type="text" required pattern="^[a-zA-Z\s]*$" />
                        <div *ngIf="author.invalid">
                            <p *ngIf="author.errors.required" class="validation-text">
                                Author required
                            </p>
                            <p *ngIf="author.errors.pattern" class="validation-text">
                                Only letters allowed
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Genre</label>
                        <select class="form-control" name="genre" [(ngModel)]="_itemEdit.genre" #genre="ngModel">
                            <ng-template ngFor let-i [ngForOf]="_itemEdit.genreList" let-n="index">
                                <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                            </ng-template>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Page count *</label>
                        <input class="form-control" name="pageCount" [(ngModel)]="_itemEdit.pageCount" #pageCount="ngModel" type="text" required />
                        <div *ngIf="pageCount.invalid">
                            <p *ngIf="pageCount.errors.required" class="validation-text">
                                Page count required
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default" (click)="postEditAsync()" [disabled]="editForm.invalid">Submit</button>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>Title *</label>
                <input class="form-control" name="title" [(ngModel)]="_itemCreate.title" #title="ngModel" type="text" required />
                <div *ngIf="title.touched && title.invalid">
                    <p *ngIf="title.errors.required" class="validation-text">
                        Title required
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>Author *</label>
                <input class="form-control" name="author" [(ngModel)]="_itemCreate.author" #author="ngModel" type="text" required pattern="^[a-zA-Z\s]*$" />
                <div *ngIf="author.touched && author.invalid">
                    <p *ngIf="author.errors.required" class="validation-text">
                        Author required
                    </p>
                    <p *ngIf="author.errors.pattern" class="validation-text">
                        Only letters allowed
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>Genre</label>
                <select class="form-control" name="genre" [(ngModel)]="_itemCreate.genre" #genre="ngModel">
                    <ng-template ngFor let-i [ngForOf]="_itemCreate.genreList" let-n="index">
                        <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                    </ng-template>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label>Page count *</label>
                <input class="form-control" name="pageCount" [(ngModel)]="_itemCreate.pageCount" #pageCount="ngModel" type="number" required />
                <div *ngIf="pageCount.touched && pageCount.invalid">
                    <p *ngIf="pageCount.errors.required" class="validation-text">
                        Page count required
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="postCreateAsync()" [disabled]="createForm.invalid">Submit</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>
