<h2>Books</h2>
<div *ngIf="_error" class="form-group">
    <span class="error">Error: {{_error}}</span>
</div>
<div class="filter">
    <h3>Filter</h3>
    <form #filterForm="ngForm">
        <div class="form-group col-sm-3">
            <label>Title</label>
            <input class="form-control" name="title" [(ngModel)]="_filter.title" #title="ngModel" type="text" />
        </div>
        <div class="form-group col-sm-3">
            <label>Author</label>
            <input class="form-control" name="author" [(ngModel)]="_filter.author" #author="ngModel" type="text" pattern="^[a-zA-Z\s]*$" />
            <div *ngIf="author.touched && author.invalid">
                <p *ngIf="author.errors.pattern" class="validation-text">
                    Only letters allowed
                </p>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label>Genre</label>
            <select class="form-control" name="genre" [(ngModel)]="_filter.genre" #genre="ngModel">
                <ng-template ngFor let-i [ngForOf]="_filter.genreList" let-n="index">
                    <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                </ng-template>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <label>Page count</label>
            <input class="form-control" name="pageCount" [(ngModel)]="_filter.pageCount" #pageCount="ngModel" type="number" />
        </div>
        <div class="form-group col-sm-5">
            <button class="btn btn-default" (click)="refreshPage()" [disabled]="filterForm.invalid">Apply</button>
        </div>
        <div class="form-group col-sm-5">
            <button class="btn btn-default" (click)="clearFilter()" [disabled]="filterForm.invalid">Clear</button>
        </div>
    </form>
    <div style="clear:both"></div>
</div>
<div class="grid">
    <div class="pagination">
        <button class="btn btn-default" (click)="prevPage()">Previous</button>
        <span>Page {{_currentPage}} of {{_totalPages}}</span>
        <button class="btn btn-default" (click)="nextPage()">Next</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Page count</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-i [ngForOf]="_items" let-n="index">
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.title}}
                    </td>
                    <td>
                        {{i.author}}
                    </td>
                    <td>
                        {{i.genre}}
                    </td>
                    <td>
                        {{i.pageCount}}
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="toggleEdit(n, i.id)">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="delete(i.id)">Delete</button>
                    </td>
                </tr>
                <tr *ngIf="_isShowEdit[n]; then edit"></tr>
            </ng-template>
        </tbody>
    </table>
    <div>
        <button class="btn btn-default" (click)="excelExport()">Export to excel</button>
    </div>
</div>

<div class="create-new">
    <button class="btn btn-default" (click)="toggleCreate()">Create new</button>
    <div *ngIf="_isShowCreate; then create"></div>
</div>

<ng-template #edit>
    <tr>
        <td colspan="7">
            <div class="edit-div">
                <form #editForm="ngForm">
                    <div class="form-group col-sm-3">
                        <label>Title *</label>
                        <input class="form-control" name="title" [(ngModel)]="_itemEdit.title" #title="ngModel" type="text" required />
                        <div *ngIf="title.touched && title.invalid">
                            <p *ngIf="title.errors.required" class="validation-text">
                                Title required
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Author *</label>
                        <input class="form-control" name="author" [(ngModel)]="_itemEdit.author" #author="ngModel" type="text" required pattern="^[a-zA-Z\s]*$" />
                        <div *ngIf="author.touched && author.invalid">
                            <p *ngIf="author.errors.required" class="validation-text">
                                Author required
                            </p>
                            <p *ngIf="author.errors.pattern" class="validation-text">
                                Only letters allowed
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Genre</label>
                        <select class="form-control" name="genre" [(ngModel)]="_itemEdit.genre" #genre="ngModel">
                            <ng-template ngFor let-i [ngForOf]="_itemEdit.genreList" let-n="index">
                                <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                            </ng-template>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Page count *</label>
                        <input class="form-control" name="pageCount" [(ngModel)]="_itemEdit.pageCount" #pageCount="ngModel" type="text" required />
                        <div *ngIf="pageCount.touched && pageCount.invalid">
                            <p *ngIf="pageCount.errors.required" class="validation-text">
                                Page count required
                            </p>
                        </div>
                    </div>
                    <div class="form-group col-sm-10">
                        <button class="btn btn-default" (click)="postEdit()" [disabled]="editForm.invalid">Submit</button>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
        </td>
    </tr>
</ng-template>

<ng-template #create>
    <div>
        <form #createForm="ngForm">
            <div class="form-group col-sm-3">
                <label>Title *</label>
                <input class="form-control" name="title" [(ngModel)]="_itemCreate.title" #title="ngModel" type="text" required />
                <div *ngIf="title.touched && title.invalid">
                    <p *ngIf="title.errors.required" class="validation-text">
                        Title required
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>Author *</label>
                <input class="form-control" name="author" [(ngModel)]="_itemCreate.author" #author="ngModel" type="text" required pattern="^[a-zA-Z\s]*$" />
                <div *ngIf="author.touched && author.invalid">
                    <p *ngIf="author.errors.required" class="validation-text">
                        Author required
                    </p>
                    <p *ngIf="author.errors.pattern" class="validation-text">
                        Only letters allowed
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label>Genre</label>
                <select class="form-control" name="genre" [(ngModel)]="_itemCreate.genre" #genre="ngModel">
                    <ng-template ngFor let-i [ngForOf]="_itemCreate.genreList" let-n="index">
                        <option value="{{i.value}}" [disabled]="i.disabled">{{i.text}}</option>
                    </ng-template>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label>Page count *</label>
                <input class="form-control" name="pageCount" [(ngModel)]="_itemCreate.pageCount" #pageCount="ngModel" type="number" required />
                <div *ngIf="pageCount.touched && pageCount.invalid">
                    <p *ngIf="pageCount.errors.required" class="validation-text">
                        Page count required
                    </p>
                </div>
            </div>
            <div class="form-group col-sm-10">
                <button class="btn btn-default" (click)="postCreate()" [disabled]="createForm.invalid">Submit</button>
            </div>
        </form>
        <div style="clear:both"></div>
    </div>
</ng-template>